<div class="row">
  <section class="main col-md-9">
    <article>
    <h2>About</h2>
    <p>I am Jasper, a web developer by profession and currently pursuing a Diploma course in Computer Programming at Seneca College.</p>
    <p>I love to creates online applications for certain organizations. I love the thrill of finishing a new project and seeing smiles on my clients’ faces as they use my application.</p>
    <p>I also like to create wonderful portrait, that is I realized that it is time to give way to my heart's desire and follow my other passion. I want to express my creative imagination through the images I will take images that speaks for yourself and your story. I want to be an instrument to create and share this memory. memory that will last forever.</p>
    <p>On this site that I personally created, you will be able to view some of the works. I am very excited to grow as a portrait photographer and to add up more treasures in this site. I am looking forward to be a part of your story and you as part of my journey.</p>
    </article>
  </section>
  <aside class="col-md-3">
    <h2>Coming Soon</h2>
    <p>I am just updating my site, it should be back up and running soon. In the meantime, check out the cool things on this page. </p>
  </aside>
</div>