<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 : Page Not Found</title>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;800&display=swap" rel="stylesheet">
    <link rel="icon" href="/Images/favicon.png" type="image/x-icon">
    <!-- Bootstrap CSS -->    
    <link rel="stylesheet" href="https://bootswatch.com/3/darkly/bootstrap.min.css" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="icon" href="/Images/favicon.png" type="image/x-icon">
</head>
<body>
    <div>
        <div class="container text-center center">
            <div class="row">
              <div class="col">
                <img src="/Images/Error404.jpg" alt="404-Not-Found" class="not-found-err-img">
                <div class="error-content-box">
                    <h1 >404</h1>
                    <h2 >Page Not Found</h2>
                    <a href="/" class="not-found-home-link">Home Page</a>
                </div>
              </div>
            </div>   
    </div>   
</body>
</html>